.video-container1 {
    position: relative;
    width: 100%;
    height: 270px; /* Chiều cao video nền */
    overflow: hidden; /* Ẩn phần thừa của video */
    display:flex;
    justify-content: center;
}
.video1{
    position: absolute;
    top:50px;
    text-decoration:underline;
    background: linear-gradient(to right, #FFD0D0, #F5F5F5); /* Hiệu ứng loang màu */
    -webkit-background-clip: text; /* Chỉ hiển thị gradient trên văn bản */
    -webkit-text-fill-color: transparent; /* Ẩn phần nền phía sau chữ */
    font-size: 75px;
}
.video-container {
    position: relative;
    width: 100%;
    height: 750px; /* Chiều cao video nền */
    overflow: hidden; /* Ẩn phần thừa của video */
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.background {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.background12 {
    position: relative;
    width: 100%;
    height: 100vh;  /*Chiều cao video nền */
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow:auto;
}
.background1 {
    position: relative;
    width: 100%;
    height: 100vh;  /*Chiều cao video nền */
    display:flex;
    text-align: center;
    justify-content: center;
    overflow:auto;
}
.background3 {
    position: fixed;
    /*position: absolute;*/
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.video2{
    position: absolute;
    color:azure;
    font-family: "Itim", cursive;
    text-decoration:none;
    font-size: 25px;
}